
 

*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    
    
}
body{
    
}
.intro{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(175, 1, 166), rgb(50, 10, 160), rgb(10, 1, 24));
    position: fixed;
    z-index: 2;
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.intro h1{
    color: whitesmoke;
    font-weight: bold;
    font-size: 7.2rem;
    text-decoration: wavy;
    animation-name: zetatxt;
    animation-duration: 2.3s;
}
@keyframes zetatxt {
    from{
        opacity: 12%;
    }
    to{
        opacity: 100%;
    }
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar{
    background-image: linear-gradient(to right, rgb(175, 1, 166), rgb(50, 10, 160), rgb(10, 1, 24));
    padding: 0 !important;
   
}
.navbar-nav li{
    padding: 0 10px;
    border: 1.3px solid transparent;

}
.navbar-nav li:hover{
    border-bottom: 1.3px solid whitesmoke ;

}
.navbar-nav li a{
    color: whitesmoke !important;
    font-weight: 600;
    text-align: center;
}
#home{
    
    background-image: linear-gradient(to right, rgb(175, 1, 166), rgb(50, 10, 160), rgb(10, 1, 24));
   
}
#zetatxt{
    font-weight: 700;
    font-size: 90px;
    color: whitesmoke;

}
#zetaabt{
    color: whitesmoke;
    text-align: justify;
}
.home-img{
    width: 200px;
    height: 200px; 
    padding: 80px 0; 
    
}

.bottom-img{
    width: 100%;
}

/*splash and loader aimation */
.splash{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(206, 83, 255), rgb(25, 1, 90));
    position: fixed;
    top: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    display: flex;
    color: whitesmoke;
}
.splash h1 {
    text-shadow: 2px 2px 8px black;
}
.fade-in{
    opacity: 0;
    animation: fadeIn 1.3s ease-in forwards;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}
/*services*/
.ln{
    width: 100%;
    display: flex;
    justify-content: center;

}
.lnn{
    height: 5px;
    width: 150px;
    background-image: linear-gradient(to right, rgb(206, 83, 255), rgb(25, 1, 90));
    border-radius: 12px;
}
#services{
    padding: 80px 0;
}
#titleServ{
    padding-top: 90px;
  

}
.servimg{
    width: 100px;
    margin-top: 20px;
   margin-left: 60%;
}
#serv-head{
    text-align: left;
    text-transform: uppercase;
}
#serv-txt{
    text-align: justify;
}
#servBtn{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(181, 176, 199);
    font-weight: 600;
    color: black;
    border-radius: 0px 20px 0px 20px;
    border: none;
  
}

#service p{
    text-align: justify;
    background-color: rgb(230, 230, 230);
    padding: 12px;
}
#servBtn:hover{
    color: whitesmoke;
    background-image: linear-gradient(to right,  rgb(206, 83, 255), rgb(25, 1, 90));
}
.bi-arrow-right{
    font-weight: 900;
    font-size: larger;
}

/* ABOUT USSSSSSSSSSSSSSSSS*/
 .title{
    padding-top: 10px;
 }
#aboutus{
    background-color: #dfdfdf;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-tile{
    font-size: 28px;
    font-weight: 600;
    margin-top: 10%;
}
.abt ul li {
   
    list-style: circle;
    font-weight: 600;
    margin: 10px 0;
}
.abt ul{
    margin-left: 20px;
}

/*CREATOE SECTION */
#creators{
    background-color: #dfdfdf;
}
#cr-img{
        position: relative;
        top: -20px;
        height: 130px;
        width: 130px;
        border-radius: 50%;
        left: 25%;
        border: none;
        box-shadow: none;
        
}


#creators i{
    color: white;
}

#creator-card{
  margin: 48px !important;
margin-top: 5px !important;
}
#creator-card:hover #cr-img{
    border: 2px solid rgb(25, 1, 90);
}
.cr-btn{
    margin: 10px;
    margin-bottom: 30px;
}

#cr-button{
    background-color: rgb(219, 219, 219);
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#cr-button:hover{
    background-color: rgb(25, 1, 90);
    color: whitesmoke;
}
#crfoot{
    cursor: pointer;
   background-image: linear-gradient(to right, rgb(206, 83, 255), rgb(25, 1, 90));  
}
.cardfoot{
    width: 100%;
    color: white;
}
#creator-card:hover{
       cursor: pointer;
       transform: scale(1.2);
       transition: 0.5s;
       box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}



/*  CONNECTION SECTION********/


    .proCon{
        width: 100%;
        height: 100vh;
        box-shadow: 0px 20px 65px 2px black;
        border-radius: 60px 0px 60px 0px;
        margin-top: 50px;
        margin-bottom: 40px;
        border-top:4px solid rgb(206, 83, 255) ;
        border-bottom:4px solid rgb(25, 1, 90) ;
    }
.line{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.lineBack{
    width: 10%;
    height: 4px;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(206, 83, 255), rgb(25, 1, 90));  
}

form #nm,#email,#mob, #floatingSelect, #probf,#cm{
    border: 2px solid rgb(141, 141, 141);
    width: 100%;
    margin-left: 40px;
    margin-bottom: 12px;
    width: 80%;

}
    form #nm:focus,#email:focus,#mob:focus, #floatingSelect:focus , #probf:focus, #cm:focus{
        border: 2px solid rgb(25, 1, 90) ;
    }
    .connDetails label{
         
        color: rgb(25, 1, 90);
        font-weight: 900;
        margin-bottom: 5px;
        margin-left: 25px;
    }
#send{
    margin-left: 40px;
    background-color: rgb(44, 10, 138);
    color:whitesmoke;
}
#send:focus{
    background-color: red;
}

#contact button i{
    color: rgb(106, 1, 243);
    margin: 5px;
    font-weight: 900;
    font-size: larger;
}
#contact button{
    border: 2px solid rgb(106, 1, 243);
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
#contact button:hover > i{
    color: white;
}
#contact button:hover{
    background-color: rgb(106, 1, 243);
}
#contact button{
    margin: 10px;
   
}
#contact{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.unline{
    height: 4px;
    width: 30%;
    margin-top: 30px;
    margin-left: 34%;
    margin-bottom: 30px;
    border-radius: 12px;
    background-image: linear-gradient(to right, rgb(206, 83, 255), rgb(25, 1, 90));
}

.contln{
    height: 4px;
    width: 30%;
    margin-top: 40px;
    margin-left: 34%;
    margin-bottom: 30px;
    border-radius: 12px;
    background-image: linear-gradient(to right, rgb(206, 83, 255), rgb(25, 1, 90));
}
footer{
    width: 100%;
    
    background-image: linear-gradient(to right, rgb(206, 83, 255), rgb(25, 1, 90));
    color: white;
    

}
.dash{
    width: 60%;
    height: 2px;
    background-color: white;
    border-radius: 20px;
}

footer ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 80%;
}
footer ul li {
    list-style: none;
    
}
footer ul{
    text-align: left;
    padding-left: 0;
    margin: 5px;
}
footer ul li a:hover{
    color: whitesmoke;
    opacity: 100%;
}

.cr{
    display: flex;
    justify-content: center;
    align-items: center;
}

