
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    
    
}
body{
    
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, rgb(206, 83, 255), rgb(25, 1, 90));
    padding: 0 !important;
   
}
.navbar-nav li{
    padding: 0 10px;
    border: 1.3px solid transparent;

}
.navbar-nav li:hover{
    border-bottom: 1.3px solid whitesmoke ;

}
.navbar-nav li a{
    color: whitesmoke !important;
    font-weight: 600;
    text-align: center;
}
#home{
    
    background-image: linear-gradient(to right, rgb(206, 83, 255), rgb(25, 1, 90));
   
}
#zetatxt{
    font-weight: 700;
    font-size: 90px;
    color: whitesmoke;

}
#zetaabt{
    color: whitesmoke;
    text-align: justify;
}
.home-img{
    width: 200px;
    height: 200px; 
    padding: 80px 0; 
    
}

.bottom-img{
    width: 100%;
}

/*splash and loader aimation */
.splash{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(206, 83, 255), rgb(25, 1, 90));
    position: fixed;
    top: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    display: flex;
    color: whitesmoke;
}
.splash h1 {
    text-shadow: 2px 2px 8px black;
}
.fade-in{
    opacity: 0;
    animation: fadeIn 1.3s ease-in forwards;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}
/*services*/
.ln{
    width: 100%;
    display: flex;
    justify-content: center;

}
.lnn{
    height: 5px;
    width: 150px;
    background-image: linear-gradient(to right, rgb(206, 83, 255), rgb(25, 1, 90));
    border-radius: 12px;
}
#services{
    padding: 80px 0;
}
#titleServ{
    padding-top: 90px;
  

}
.servimg{
    width: 100px;
    margin-top: 20px;
   margin-left: 60%;
}
#serv-head{
    text-align: left;
    text-transform: uppercase;
}
#serv-txt{
    text-align: justify;
}
#servBtn{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(181, 176, 199);
    font-weight: 600;
    color: black;
    border-radius: 0px 20px 0px 20px;
    border: none;
    transition: 0.3s;
}
#servBtn:hover{
    color: whitesmoke;
    background-image: linear-gradient(to right,  rgb(206, 83, 255), rgb(25, 1, 90));
}

/* ABOUT USSSSSSSSSSSSSSSSS*/
 .title{
    padding-top: 10px;
 }
#aboutus{
    background-color: #dfdfdf;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-tile{
    font-size: 28px;
    font-weight: 600;
    margin-top: 10%;
}
.abt ul li {
   
    list-style: circle;
    font-weight: 600;
    margin: 10px 0;
}
.abt ul{
    margin-left: 20px;
}





/* creators sectionnnnnnnnnnnn...........*/

#creators{
    background-color: #dfdfdf;
}
#cr-img{
    height: 180px;
    width: 60%;
    border-radius: 0 0 50% 0;
    position: relative;
    object-fit: cover;
}

#creator-card{
    margin: 50px; 
}
#creator-card:hover{
   
    background-image: linear-gradient(to right,  rgb(206, 83, 255), rgb(25, 1, 90));
    color: whitesmoke;
    transform: scale(1.1);
    transition: 0.8s;

}
.venky:hover{
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.simeonCard:hover{
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
.perumal:hover{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}